.header {
  width: 100%;

  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 1rem;

  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
}

@media (min-width: 1200px) {
  .header {
    width: calc(1200px - 120px);
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.brand {
  flex: 1 1 auto;
  font-family: "Roboto Mono", serif;
  font-size: 1.2em;

  a {
    padding: 5px;
  }
}

.navbar {
  flex: 1 1 auto;
  text-align: right;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline;
      margin-left: 1rem;
    }
  }
}

.nav_link {
  background-image: linear-gradient(120deg, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat;
  background-size: 0% 0.1em;
  background-position: 0 50%;

  padding: 0 2px;

  transition-duration: 0.1s;

  &:hover {
    background-size: 100% 0.1em;
    transition-duration: 0.1s;
  }
}

.footer {
  font-family: "Fira Code", monospace;
  text-align: left;
  width: 100%;
  padding: 0 5%;
  padding-top: 1rem;
  padding-bottom: 2rem;

  font-size: 0.8rem;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-right: 2em;
      float: left;
    }
  }

  a {
    color: rgb(199, 199, 199);

    &:hover {
      color: white;
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    width: calc(1200px - 120px);
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
