.container {
  height: 100%;
  width: 100%;

  display: flex;
}

.list {
  font-family: "Roboto Slab", serif;
  flex: 1 0 25%;

  display: flex;
  padding-left: 20%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;

  z-index: 10;

  h1 {
    font-size: 5em;
    margin: 0;
    margin-bottom: 2rem;

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 2em 0.1em;
    background-position: 0 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 1.5em;
      font-family: "Roboto Slab", serif;

      a {
        color: #ccc;

        &:hover {
          color: white;
        }
      }
    }
  }
}

.preview {
  flex: 0 1 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  background: no-repeat center center;
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  h1 {
    display: block;
    font-family: "Raleway", serif;
    font-weight: 900;
    margin: 0;
    margin-top: 0;
    padding: 0;
    font-size: 55rem;
    white-space: nowrap;
    line-height: 45rem;
  }
}

.content {
  flex: 1 0 auto;
  width: 50rem;
  margin: auto;
  margin-top: 3rem;

  font-family: "Roboto Slab", serif;

  h1 {
    font-size: 3rem;

    // Top header (title)
    &:first-of-type {
      font-size: 5rem;
      color: rgb(2, 2, 0);
      display: inline-block;
      padding: 0 10px;

      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      background-repeat: no-repeat;
      background-size: 100% 90%;
      background-position: 0 100%;
    }
  }

  p {
    padding: 1.2em 0;
  }

  ul,
  ol {
    padding-left: 15px;
  }

  blockquote {
    padding: 1em;
    background-color: #242424;
    border-radius: 3px;
  }

  pre {
    background-color: #333;
    padding: 10px;
  }

  code {
    font-family: "Fira Code", monospace;
    font-size: 1em;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 0 3px;

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 100%;

    transition-duration: 0.1s;

    &:hover {
      background-size: 100% 90%;
      background-position: 0 100%;
      color: black;

      transition-duration: 0.1s;
    }
  }

  hr {
    border-bottom: 3px solid rgba(255, 255, 255, 0.7);
    margin: 1em 1em;
  }
}

.hero {
  height: 20em;
}
